{{ define "main" }}
<body>
    <main class="index-main">
        <div class="grid">
            <h1 class="hero-welcome normal-width">Hi, I'm Paul</h1>
            <p class="hero-statement normal-width">
                Engineering manager. Part time partner at Charlesworth Human
                Performance. I write about leadership and technology.
            </p>
            <div class="normal-width">
                {{ partial "subscriptionForm.html" }}
            </div>

            <div class="normal-width">
                <h2>Articles</h2>
            </div>
            <div class="list-element">
                <h3>If By Rudyard Kipling</h3>
                <p>19/01/23</p>
                <p>
                    If you can keep your head when all about you Are losing
                    theirs and blaming it on you, If you can trust yourself when
                    all men doubt you,
                </p>
            </div>
            <div class="list-element">
                <h3>If By Rudyard Kipling</h3>
                <p>19/01/23</p>
                <p>
                    If you can keep your head when all about you Are losing
                    theirs and blaming it on you, If you can trust yourself when
                    all men doubt you,
                </p>
            </div>
            <div class="list-element">
                <h3>If By Rudyard Kipling</h3>
                <p>19/01/23</p>
                <p>
                    If you can keep your head when all about you Are losing
                    theirs and blaming it on you, If you can trust yourself when
                    all men doubt you,
                </p>
            </div>
        </div>
    </main>
</body>
{{end}}
