<form
    action="
    https://buttondown.email/api/emails/embed-subscribe/Paul_Charlesworth
    "
    method="post"
    target="popupwindow"
    class="embeddable-buttondown-form"
>
    <h2>Newsletter</h2>
    <div class="email-input">
        <input
            class="email-input-field"
            type="email"
            name="email"
            placeholder="email address"
        />
        <input type="hidden" value="1" name="embed" />
        <input class="subscribe-button" type="submit" value="Subscribe" />
    </div>

    <p>
        If you'd like to stay updated with my writing, you can subscribe to my
        email newsletter. It's free. There's no tracking. You can unsubscribe
        any time.
    </p>
    <p>
        <a class="powered-by" href="https://buttondown.email" target="_blank">
            Powered by Buttondown.
        </a>
    </p>
</form>
